body, html{
  height:100%;
  background-image: url('https://i.ytimg.com/vi/9Pcari_wEs8/maxresdefault.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
}
.tie{
  width: 5%;
  height: 5%;
}
.bottomTie{
  position: absolute;
  bottom: 10px;
  height: 5%;
  width: 5%;
  left: -10px;
}
#theSenate{
    font-family: 'Franklin Gothic Medium';
    font-size: 9rem;
    color: red;
}
#notYet{
  font-family: 'sans-serif';
  font-size: 8rem;
  color: rgba(0, 217, 255, 0.89);
}
#resize {
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 5px; 
    top: 28%;
    left: 12%;
  }
#msg {
  
    width: 500px;
    height: 200px;
  }
  
  #object {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 5px; 
    
    animation-name: revolve;
    animation-duration: 1s;
    animation-iteration-count: infinite
  }
  
  @keyframes revolve {
    0% {transform : rotate(20deg);}
    10% {transform : rotate(30deg);}
    20% {transform : rotate(40deg);}
    30% {transform : rotate(50deg);}
    40% {transform : rotate(70deg);}
    50% {transform : rotate(100deg);}
    70% {transform : rotate(140deg);}
    100% {transform : rotate(360deg);}
  }
  #windu {
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 5px; 
    
    animation-name: zoom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  #winduSpin{
    animation-name: revolve;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  @keyframes zoom{
    0% {transform: scale(0.5) }
    10% {transform : scale(2);}
    20% {transform : scale(1.0);}
    30% {transform : scale(3.5);}
    40% {transform : scale(1.6);}
    50% {transform : scale(7);}
    70% {transform : scale(2.5);}
    80% {transform: scale(10);}
    90% {transform: scale(4.0);}
    100% {transform : rotate(12);}
  }
  .popup{
    border-radius: 7px;
    background-image:url('https://img.cinemablend.com/filter:scale/quill/0/7/7/d/4/e/077d4ede6e8beb1eeaf575d728119483b0164154.png?mw=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:30px auto 0;
    padding:6px;  
    position:absolute;
    width:80px;
    top: 88%;
    left: -30%;
    margin-left: 600px;
    margin-top: -40px;
}
  
  .popup .popuptext {
    visibility: hidden;
    width: 600px;
    height: 500px;
    background-image:url('https://media1.tenor.com/images/847b98a1fe4e325481d20d999137c834/tenor.gif?itemid=10270127');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    border-radius: 60px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 585%;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 30%;
    margin-left: -800px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 
  