body h1{
    object-position: center top;
    object-position: 100px 50px;
}
.food {
    display: inline-block;
    width: 40%;
    height: 20%

}
#cheese {
    color: rgb(21, 255, 0);
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    border: 4px dotted yellow;
    object-position: top right;
}
#fruit{
    color: yellow;
    background-color: rgb(0, 119, 255);
    border-radius: 10px;
    border: 4px dotted rgb(255, 0, 234);
    object-position: top left;
    
}
#msg {
  
    width: 500px;
    height: 200px;
  }
  
  #object {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 5px; 
    
    animation-name: revolve;
    animation-duration: 1s;
    animation-iteration-count: infinite
  }
  
  @keyframes revolve {
    0% {transform : rotate(20deg);}
    10% {transform : rotate(30deg);}
    20% {transform : rotate(40deg);}
    30% {transform : rotate(50deg);}
    40% {transform : rotate(70deg);}
    50% {transform : rotate(100deg);}
    70% {transform : rotate(140deg);}
    100% {transform : rotate(360deg);}
  }